/* PACKAGES. */
.packages {
	padding: 40px !important;
	text-align: center;
	cursor: pointer;
}

ul {
	padding: 0;
	margin: 0;
}

.package {
	padding: 0;
	margin: 10px 0;
}

.package-text {
	padding: 15px;
}

#package1 h4 {
	color: #e0e0e0;
	background:  #8a8a8a;
	background: -webkit-linear-gradient(#a0a0a0, #6b6b6b);
	background: -o-linear-gradient(#a0a0a0, #6b6b6b);
	background: linear-gradient(#a0a0a0, #6b6b6b);
	border-radius: 5px 0 0 0;
	padding: 10px 15px;
	font-size: 23px;
}

#package4 h4 {
	border-radius: 0 5px 0 0;
}

.package h4 {
	background-color: #23548c;
	background: -webkit-linear-gradient(#23548c, #3b72ab);
	background: -o-linear-gradient(#23548c, #3b72ab);
	background: linear-gradient(#23548c, #3b72ab);
	color: #e0e0e0;
	padding: 10px 15px;
	font-size: 19px;
	height: 60px;
	margin-bottom: 5px;
}

/* PACKAGE HEADINGS FOR JS USES */
.package
.package-heading-hover {
	background-color: #1b7410;
	background: -webkit-linear-gradient(#5cb242, #1b7410);
	background: -o-linear-gradient(#5cb242, #1b7410);
	background: linear-gradient(#5cb242, #1b7410);
	border-radius: 5px;
}

#package1 > div,
#package2 > div,
#package3 > div,
#package4 > div {
	border-top: 15px solid transparent;
	margin-top: -6px;
	width: 0;
	height: 0;
}

.package ul {
	padding: 0;
	margin: 0;
}

.package
 ul
 li {
	display: block;
	padding: 15px 5px;
	border-bottom: 1px solid #383838;
	height: 50px;
}

.btn-wrapper {
	padding: 10px;
	height: 70px;
}

.bottom-btn {
	padding: 5px 10px;
	margin: 0;
}

.buttom-btn img {
	width: 100%;
	height: 100%;
}

#package2, #package3, #package4 {
	background-color: #e0e0e0;
	-webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 0 0 0 5px;
}

#package1 {
	background-color: #CBCBCB;
	color: #4b4b4b;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#package1  .arrow {
	width: 50%;
	padding: 5px;
	height: 60px;
	margin: auto;
}

/* ROLLOVER EFFECT ON PACKAGES - FOR JS USES */
.rollover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	z-index: 100;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.last {
	background: url('../images/actionarrow.png') no-repeat;
	padding: 11px 35px;
	border: none;
}

.btn {
	padding: 12px 40px;
	margin: 10px auto;
	background: -webkit-linear-gradient(#676767, #3c3c3c);
	background: -o-linear-gradient(#676767, #3c3c3c);
	background: linear-gradient(#676767, #3c3c3c);
	border-radius: 25px;
	font-weight: bold;
}

.btn-hover {
	background: -webkit-linear-gradient(#f73f24, #aa2a1e);
	background: -o-linear-gradient(#f73f24, #aa2a1e);
	background: linear-gradient(#f73f24, #aa2a1e);
}

/* FOOTER */
.footer {
	color: #a5a2a2;
}

/* MEDIA QUERIES */
/* SCREEN WIDTH 900PX */
@media (max-width: 900px) {
	.social {
		top: 65%;
		right: 10px;
	}
}

/* SCREEN WIDTH 768PX */
@media (max-width: 768px) {
	.social {
		top: 65%;
	}
}

/* SCREEN WIDTH 576PX */
@media (max-width: 576px) {
	.package {
		width: 96%;
		margin: 10px auto;
	}
}
